<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <a class="navbar-brand" [routerLink]="['/']">Talentic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['detail',25]">Detail</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['ajout']">Ajout</a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-md-0">
        <a class="nav-link" [routerLink]="['login']">Login</a>
        <a class="nav-link" [routerLink]="['inscription']">Inscription</a>
        <select #langSelect (change)="translate.use(langSelect.value)" class="form-control">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
          </select>
    </form>
  </div>
</nav>